.ModalStyles{
    width: 500px;
    height: 200px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #e74c3c;
    padding:0px 0px 40px ;
    border-radius: 5px ;


}
.modalBtnClose{
    margin-bottom: 15px;
    cursor: pointer;
    color:white;
    font-weight: bold;
    position: absolute;
    right:30px;
    background-color: #e74c3c;

}
.content{
    padding-top: 25px;
}
.colorWhite{
    color: white;
    font-weight: bold;
}
.headerModal{
    height: 40px;
    background-color: #d44637;
    padding-top:17px;
}
.buttonModal{
    padding: 10px 20px;
    background: #d44637;
    margin:10px;
    cursor:pointer;

}

.headerP{
    text-align: center;
    padding-left: 90px;
}